body {
    background-color: #EAFDFC;
}

h1 {
    color: #82AAE3;
}

h3 {
    color: #82AAE3;
}

hr {
    background-color: white;
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 10%;
    
}