<center>
    <hr size="3" noshade>
        <h1>The Adventure of <br>Sherlok Holmes</h1>
            <h3>by</h3>
        <h2>Sir, Arthur Conan Doyle</h2>
    <hr size="3" noshade>

    <!-- comment -->
</center>